/x64
*.lib
*.dll
*.pdb
*.suo
*.sdf
*.filters
*.vktrace
*.diagsession
*.psess
*.user
*.spv
*.opensdf
*.sln
*.vcxproj
.vs
build*/
.idea/
measurements/*.json
measurements/*.csv
cmake-build-debug/
tmp/*
!tmp/.gitkeep
logs/*
!logs/.gitkeep
spv/*
!spv/.gitkeep
CMakeSettings.json
CMakePresets.json
CMakeVariables.json
*.log
